<p id="notice"><%= notice %></p>

<h1>Mes engagements</h1>
<table>
  <thead>
    <tr>
      <th>Engagement</th>
      <th>Début</th>
      <th>Fin</th>
      <th>Periodicité</th>
    </tr>
  </thead>

  <tbody>
    <% @periodic_events.each do |periodic_event| %>
      <tr>
        <td><%= I18n.t("boost_my_spirit.periodic_events.#{periodic_event.event_type}") %></td>
        <td><%= I18n.l(periodic_event.start.to_date) %></td>
        <td>
	  <% if(periodic_event.end) %>
	  <%= I18n.l(periodic_event.end.to_date) %>
	  <% end %>
	</td>
        <td><%= periodic_event.periodicity.seconds %></td>
      </tr>
    <% end %>
  </tbody>
</table>
