<p id="notice"><%= notice %></p>

<p>
  <strong>Eventtype:</strong>
  <%= @periodic_event.eventType %>
</p>

<p>
  <strong>Start:</strong>
  <%= @periodic_event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @periodic_event.end %>
</p>

<p>
  <strong>Periodicity:</strong>
  <%= @periodic_event.periodicity %>
</p>

<p>
  <strong>User:</strong>
  <%= @periodic_event.user %>
</p>

<%= link_to 'Edit', edit_periodic_event_path(@periodic_event) %> |
<%= link_to 'Back', periodic_events_path %>
